In [2]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
import os
from time import time

In [7]:
pd.options.display.max_columns = None
data_file = 'data/yellow_tripdata_2025-01.parquet'
table = pq.read_table(data_file, use_pandas_metadata=True)
df = table.to_pandas(timestamp_as_object=False)
print(f"Dataframe shape: {df.shape}")
print(df.info())

Dataframe shape: (3475226, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB
None

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0

In [12]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL,
  "cbd_congestion_fee" REAL
)

In [14]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

Insert column definition first

In [15]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace', index=False)

0

In [16]:
def upload_data(df, table_name, engine, chunk_size=100000):
    start_time = time()
    num_rows = df.shape[0]
    for i in range(0, num_rows, chunk_size):
        end_i = min(i + chunk_size, num_rows)
        df_chunk = df.iloc[i:end_i]
        batch_start = time()
        df_chunk.to_sql(name=table_name, con=engine, if_exists='append', index=False)
        batch_time = time() - batch_start
        print(f"Inserted rows {i} to {end_i} into {table_name}. Time taken: {batch_time:.2f} seconds.")
    total_time = time() - start_time
    print(f"Finished uploading {num_rows} rows to {table_name} in {total_time:.2f} seconds.")

In [17]:
upload_data(df, table_name='yellow_taxi_data', engine=engine, chunk_size=100000)

Inserted rows 0 to 100000 into yellow_taxi_data. Time taken: 9.11 seconds.
Inserted rows 100000 to 200000 into yellow_taxi_data. Time taken: 9.28 seconds.
Inserted rows 200000 to 300000 into yellow_taxi_data. Time taken: 9.02 seconds.
Inserted rows 300000 to 400000 into yellow_taxi_data. Time taken: 9.32 seconds.
Inserted rows 400000 to 500000 into yellow_taxi_data. Time taken: 8.94 seconds.
Inserted rows 500000 to 600000 into yellow_taxi_data. Time taken: 8.97 seconds.
Inserted rows 600000 to 700000 into yellow_taxi_data. Time taken: 9.37 seconds.
Inserted rows 700000 to 800000 into yellow_taxi_data. Time taken: 9.11 seconds.
Inserted rows 800000 to 900000 into yellow_taxi_data. Time taken: 9.13 seconds.
Inserted rows 900000 to 1000000 into yellow_taxi_data. Time taken: 9.12 seconds.
Inserted rows 1000000 to 1100000 into yellow_taxi_data. Time taken: 9.41 seconds.
Inserted rows 1100000 to 1200000 into yellow_taxi_data. Time taken: 9.09 seconds.
Inserted rows 1200000 to 1300000 into yellow_taxi_data. Time taken: 9.15 seconds.
Inserted rows 1300000 to 1400000 into yellow_taxi_data. Time taken: 9.18 seconds.
Inserted rows 1400000 to 1500000 into yellow_taxi_data. Time taken: 9.23 seconds.
Inserted rows 1500000 to 1600000 into yellow_taxi_data. Time taken: 9.14 seconds.
Inserted rows 1600000 to 1700000 into yellow_taxi_data. Time taken: 9.34 seconds.
Inserted rows 1700000 to 1800000 into yellow_taxi_data. Time taken: 9.06 seconds.
Inserted rows 1800000 to 1900000 into yellow_taxi_data. Time taken: 9.22 seconds.
Inserted rows 1900000 to 2000000 into yellow_taxi_data. Time taken: 9.01 seconds.
Inserted rows 2000000 to 2100000 into yellow_taxi_data. Time taken: 9.27 seconds.
Inserted rows 2100000 to 2200000 into yellow_taxi_data. Time taken: 9.31 seconds.
Inserted rows 2200000 to 2300000 into yellow_taxi_data. Time taken: 9.22 seconds.
Inserted rows 2300000 to 2400000 into yellow_taxi_data. Time taken: 9.38 seconds.
Inserted rows 2400000 to 2500000 into yellow_taxi_data. Time taken: 9.21 seconds.
Inserted rows 2500000 to 2600000 into yellow_taxi_data. Time taken: 9.09 seconds.
Inserted rows 2600000 to 2700000 into yellow_taxi_data. Time taken: 9.44 seconds.
Inserted rows 2700000 to 2800000 into yellow_taxi_data. Time taken: 9.31 seconds.
Inserted rows 2800000 to 2900000 into yellow_taxi_data. Time taken: 9.15 seconds.
Inserted rows 2900000 to 3000000 into yellow_taxi_data. Time taken: 8.43 seconds.
Inserted rows 3000000 to 3100000 into yellow_taxi_data. Time taken: 8.39 seconds.
Inserted rows 3100000 to 3200000 into yellow_taxi_data. Time taken: 8.11 seconds.
Inserted rows 3200000 to 3300000 into yellow_taxi_data. Time taken: 8.07 seconds.
Inserted rows 3300000 to 3400000 into yellow_taxi_data. Time taken: 8.24 seconds.
Inserted rows 3400000 to 3475226 into yellow_taxi_data. Time taken: 6.25 seconds.
Finished uploading 3475226 rows to yellow_taxi_data in 314.07 seconds.

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER, 
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, 
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, 
	passenger_count FLOAT(53), 
	trip_distance FLOAT(53), 
	"RatecodeID" FLOAT(53), 
	store_and_fwd_flag TEXT, 
	"PULocationID" INTEGER, 
	"DOLocationID" INTEGER, 
	payment_type BIGINT, 
	fare_amount FLOAT(53), 
	extra FLOAT(53), 
	mta_tax FLOAT(53), 
	tip_amount FLOAT(53), 
	tolls_amount FLOAT(53), 
	improvement_surcharge FLOAT(53), 
	total_amount FLOAT(53), 
	congestion_surcharge FLOAT(53), 
	"Airport_fee" FLOAT(53), 
	cbd_congestion_fee FLOAT(53)
)